@use './variables';

// Header 

.blog-header {
    background-image: url("./../assets/blog-image.jpg");
    height: 65vh;
}

// Post
.blog {
    background-color: variables.$mint;
    position: relative;
    padding-bottom: 0;
}

.blog-section {
    width: 60%;
    position: relative;
    left: 0;
    top: -200px;
    transition: .3s ease;
}

.blog-post {
    margin-top: 20px;

    .blog-text {
        padding: 35px 20px 20px 50px;
        background-color: variables.$white;
        border-bottom: 5px solid variables.$highlight;
        border-right: 5px solid variables.$highlight;


        p:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    .blog-image {
        max-width: calc(100% - 20px);
        box-shadow: 20px 20px variables.$highlight;
        margin-bottom: 20px;
        transition: .3s ease;

        img {
            width: 100%;
        }
    }
}

//Comments
.comments-form {
    margin-left: 125px;
}

.comments {
    margin-top: 25px;
    margin-bottom: 25px;
}

.comment {
    display: flex;
    justify-content: space-between;

    .comment-image {
        width: 25%;
        min-width: 100px;
    }

    .comment-text {
        p:first-of-type {
            text-transform: uppercase;
            font-weight: bold;
        }

        margin-left:20px;
    }
}

.comment-1 {
    margin: 20px 0 50px 0;
}

// Aside

.aside {
    background-color: variables.$highlight;
    width: 300px;
    position: absolute;
    right: 0;
    top: 100px;
    transition: .3s ease;

    .aside-text {
        padding: 20px;

        h3:nth-of-type(2) {
            margin-top: 10px;
        }

        ul {
            list-style: inside;

            p {
                display: inline;
            }
        }
    }

    .aside-image {
        width: 95%;
        position: relative;
        top: -10px;
        right: -15px;
    }
}

.expand-aside {
    width: 350px;
    background-color: variables.$highlight;
    transform: rotate(-90deg);
    position: absolute;
    top: 580px;
    right: -150px;
    transition: .3s ease;
    display: none;

    ul {
        display: flex;
        justify-content: center;

        padding: 8px;

        li:first-of-type {
            margin-right: 30px;
        }
    }

    button {
        cursor: pointer;
    }
}