@use './variables';


.contactHeader {
    background-image: url("./../assets/contact-image.jpg");
}

.contacth1,
.blogh1 {
    display: flex;
    justify-content: flex-start;
    padding-left: 30px;
}






.contactFormSection {
    background-color: variables.$mint;
}



.contactIcons {
    width: 20px;
}