@use './variables';

// Header
.contactHeader {
    background-image: url("./../assets/contact-image.jpg");
}

.contacth1,
.blogh1 {
    margin-top: 100px;
}




//Form 
.contactFormSection {
    background-color: variables.$mint;
}

.contactIcons {
    width: 20px;
}