@use './variables';

footer {
    color: variables.$white;
    background-color: variables.$black;
    padding: 5px;
    text-align: center;
}

//TODO: figure our footer on contact page

.contactFooter {
    position: fixed;
    bottom: 0;
    width: 100%;
}