@use './variables';

//WRAPPER
.wrapper {
    width: 80%;
    margin: 0 auto;
    max-width: 1260px;
}

//STRIPPING STYLES
h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    all: unset;
}


section {
    padding: 60px 0;
}

.logo {
    margin-top: 20px;

    span {
        display: block;
    }
}