@use './variables';

header {
    background-image: url("./../assets/header-home.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

    .headerWrapper {
        display: flex;
        justify-content: space-between;
    }

    .headerNav {
        display: flex;
        justify-content: center;
    }

    .headerNav li {
        padding: 20px 0px 0px 30px;

        a:hover {
            border-bottom: 2px solid variables.$highlight;
            padding-bottom: 2px;
        }
    }

    .indexh1 {
        margin: 100px 0 0 0;
    }

    .headerBoxImage {
        width: 55%;
        position: absolute;
        top: 265px;
    }
}