@use './variables';

header {
    background-image: url("./../assets/header-home.jpg");
    padding-bottom: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    transition: .3s ease;

    .header-wrapper {
        display: flex;
        justify-content: space-between;
    }

    .header-nav {
        display: flex;
        justify-content: center;
    }

    .header-nav li {
        padding: 20px 0px 0px 30px;

        a:hover,
        a:focus {
            border-bottom: 2px solid variables.$highlight;
            padding-bottom: 2px;
        }
    }

    .index-h1 {
        margin: 100px 0 0 0;
        transition: .3s ease;
    }

    .header-box-image {
        width: 55%;
        min-width: 650px;
        position: absolute;
        top: 40%;
        transition: .3s ease;
    }
}