@use './variables';


// NEW MATERIALS SECTION 

.new-materials {
    margin-top: 60px;
}

.new-materials-flex {
    display: flex;
    justify-content: space-between;


    .new-materials-text {
        max-width: 70%;
        margin-right: 85px;
    }

    .new-materials-image {
        max-width: 30%;

        img {
            box-shadow: -15px 15px variables.$highlight;
        }
    }
}


// GALLERY
.gallery {
    background-color: variables.$mint;
}

.index-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    li {
        margin: 0 10px;
        width: calc((100% / 3) - 20px);
    }
}


//LINKS

.index-links-icons {
    width: 170px;
    background-color: variables.$highlight;
    border-radius: 50%;
    padding: 8px;
}


.index-links-flex {
    display: flex;
    flex-wrap: wrap;

    li {
        width: 50%;
        margin: 20px 0;
        display: flex;
        justify-content: space-evenly;

        .index-links-text {
            margin-left: 20px;

            h2 {
                display: inline;
            }

            a:hover {
                border-bottom: 2px solid variables.$highlight;
                padding: 2px;
            }
        }
    }
}


//PROGRAMS AND LOCATIONS
.programs-locations {
    background-color: variables.$mint;
}



//SEARCH BY STYLE