@use './variables';


// NEW MATERIALS SECTION 

.newMaterials {
    margin-top: 60px;
}

.newMaterialsFlex {
    display: flex;
    justify-content: space-between;


    .newMaterialsText {
        max-width: 70%;
        margin-right: 85px;
    }

    .newMaterialsImage {
        max-width: 30%;

        img {
            box-shadow: -15px 15px variables.$highlight;
        }
    }
}


// GALLERY
.gallery {
    background-color: variables.$mint;
}

.indexGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    li {
        margin: 0 10px;
        width: calc((100% / 3) - 20px);
    }
}


//LINKS

.indexIcons {
    width: 60px;
    background-color: variables.$highlight;
    border-radius: 50%;
    padding: 10px;
}

//PROGRAMS AND LOCATIONS




//SEARCH BY STYLE