@use './variables';


// NEW MATERIALS SECTION 

.new-materials {
    margin-top: 60px;
}

.new-materials-flex {
    display: flex;
    justify-content: space-between;


    .new-materials-text {
        max-width: 70%;
        margin-right: 85px;
    }

    .new-materials-image {
        max-width: 30%;

        img {
            box-shadow: -15px 15px variables.$highlight;
        }
    }
}


// GALLERY
.gallery {
    background-color: variables.$mint;
}

.index-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    li {
        margin: 0 10px;
        width: calc((100% / 3) - 20px);
    }
}


//LINKS

.index-links-icons {
    min-width: 45px;
    background-color: variables.$highlight;
    border-radius: 50%;
    padding: 8px;
}

.phone {
    transform: scaleX(-1);
}

.index-links-flex {
    display: flex;
    flex-wrap: wrap;

    li {
        width: 50%;
        margin: 20px 0;
        display: flex;
        justify-content: space-evenly;

        .index-links-text {
            margin-left: 20px;

            h2 {
                display: inline;
            }

            a:hover {
                border-bottom: 2px solid variables.$highlight;
                padding: 2px;
            }
        }

    }
}


//LOCATIONS AND PROGRAMS
.locations-programs {
    background-color: variables.$mint;
    display: flex;

    .locations-programs-text {
        width: 70%;
    }

    .locations-image {
        position: relative;
        top: -80px;
        right: 0;
        box-shadow: 15px 15px variables.$highlight;
    }

    .programs-image {
        position: relative;
        bottom: -80px;
        left: 0;
        box-shadow: -15px 15px variables.$highlight;
    }

    .locations-programs-flex {
        display: flex;
        flex-direction: column;
    }

    .programs-flex {
        flex-direction: column-reverse;
        margin-left: 100px;
    }

    .locations-flex {
        align-items: flex-end;
        text-align: right;
    }
}



//SEARCH BY STYLE

.search {
    padding: 0;
}