@use './variables';


// NEW MATERIALS SECTION 

.new-materials {
    margin-top: 70px;
}

.new-materials-flex {
    display: flex;
    justify-content: space-between;


    .new-materials-text {
        max-width: 70%;
        margin-right: 85px;
        transition: .3s ease;
    }

    .new-materials-image {
        max-width: 30%;
        transition: .3s ease;

        img {
            box-shadow: -15px 15px variables.$highlight;
        }
    }
}


// GALLERY
.gallery {
    background-color: variables.$mint;
}

.index-gallery {
    display: flex;
    justify-content: center;

    li {
        margin: 0 10px;
        width: calc((100% / 3) - 20px);
    }
}


//LINKS

.index-links-icons {
    min-width: 45px;
    background-color: variables.$highlight;
    border-radius: 50%;
    padding: 8px;
}

.phone {
    transform: scaleX(-1);
}

.index-links-flex {
    display: flex;
    flex-wrap: wrap;

    li {
        width: 50%;
        margin: 20px 0;
        display: flex;
        justify-content: space-evenly;

        .index-links-text {
            margin-left: 20px;

            h2 {
                display: inline;
            }

            a:hover,
            a:focus {
                border-bottom: 2px solid variables.$highlight;
                padding: 2px;
            }
        }

    }
}


//LOCATIONS AND PROGRAMS
.locations-programs {
    background-color: variables.$mint;
    display: flex;

    .locations-programs-flex {
        display: flex;
        flex-direction: column;
    }

    .locations-flex {
        align-items: flex-end;
        text-align: right;
    }

    .programs-flex {
        flex-direction: column-reverse;
        margin-left: 100px;
    }

    .locations-image {
        position: relative;
        top: -95px;
        box-shadow: 15px 15px variables.$highlight;
        transition: .3s ease;
    }

    .programs-image {
        position: relative;
        bottom: -95px;
        box-shadow: -15px 15px variables.$highlight;
        max-width: 672px;
        transition: .3s ease;
    }

    .locations-programs-text {
        width: 70%;
    }
}


//SEARCH BY STYLE

.search {
    padding: 0;
}

.search-image {
    width: 100%;

    img {
        width: 100%;
    }
}

.search-text {
    padding: 80px 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}