@use './variables';

@media (max-width:1050px) {

    // HEADER
    .wrapper {
        width: 90%;
    }

    header {
        h1 {
            font-size: 3rem;
        }

        .header-nav li {
            padding: 20px 0px 0px 20px;
        }
    }

    // NEW MATERIALS
    .new-materials {
        margin-top: 50px;
    }

    //LOCATIONS AND PROGRAMS 
    .locations-programs {
        .locations-programs-text {
            width: 100%;
        }
    }

    // BLOG
    .blog-section {
        .comments-form {
            margin-left: 50px;
        }

        .comment {
            .comment-image {
                min-width: 50px;
            }
        }
    }

    //FORM
    .form {
        .form-inputs {
            flex-direction: column;

            input[type=text] {
                margin-bottom: 20px;
            }
        }
    }

    //CONTACT
    .contact-form-section {
        .contact-form {
            position: static;
            margin: 0 0 40px 20px;
        }
    }

    .form-contact {
        margin: 50px 50px 0 0;
    }
}

@media (max-width: 880px) {

    // HEADER
    header {
        height: 80vh;

        .header-wrapper {
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;

            nav,
            .logo {
                align-self: flex-start;

                .header-nav li {
                    &:first-of-type {
                        padding-left: 0;
                    }
                }
            }

            h1 {
                margin: 50px 0 0 0;
            }
        }

        .header-box-image {
            min-width: 350px;
            top: 50%;
        }
    }

    //NEW MATERIALS
    .new-materials-flex {

        .new-materials-text,
        .new-materials-image {
            max-width: 50%;
        }

    }

    //LOCATIONS AND PROGRAMS 
    .locations-programs {
        flex-direction: column;

        .locations-image,
        .programs-image {
            position: static;
            padding: 0;
            margin-bottom: 40px;
        }

        .locations-programs-flex {
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin: 0;
        }

        .locations-programs-text {
            padding: 0 20px;
        }

        .locations-text {
            margin-bottom: 40px;
        }
    }

    // SEARCH BY STYLE
    .search-text {
        padding: 50px;
        text-align: center;
    }

    // BLOG
    // ASIDE
    .aside {
        width: 200px;

        .aside-text {
            padding: 10px;
        }

        h3 {
            line-height: 38px;
        }

        p {
            font-size: .7rem;
            line-height: 20px;
        }
    }

    // BLOG 
    .blog-post {
        .blog-text {
            padding: 25px 10px 10px 10px;
        }
    }

    //CONTACT
    .contact-form-section {
        flex-direction: column;
        align-items: center;

        .contact-form {
            width: 90%;
            box-shadow: none;
            margin: 0 auto;

            .form {
                margin: 0 auto;
            }
        }

        .form-contact {
            margin: 20px auto;
        }
    }
}


@media (max-width: 760px) {

    //NEW MATERIALS

    h2 {
        font-size: 1rem;
        line-height: 28px;
    }

    .new-materials {
        margin-top: 30px;


        .new-materials-flex {
            flex-direction: column-reverse;
            align-items: center;


            .new-materials-text,
            .new-materials-image {
                max-width: 100%;
                text-align: center;
                margin: 0;
            }

            .new-materials-image {
                margin-bottom: 40px;
            }
        }
    }

    //INDEX LINKS 
    .index-links-flex {
        flex-direction: column;

        li {
            width: 100%;
        }
    }

    // BLOG
    // ASIDE
    .aside {
        display: none;
    }

    .expand-aside {
        display: block;
    }

    // BLOG
    .blog {
        position: static;
        padding-top: 0;

        .blog-post {
            margin-top: 0;
        }

        p {
            font-size: .8rem;
        }

        .blog-section {
            width: 100%;
            position: static;

            .blog-text {
                padding: 25px 5px 10px 5px;

            }

            .blog-image {
                box-shadow: none;
                margin: 0 auto;
            }
        }
    }

    // FORM
    .form {
        padding-bottom: 20px;
    }
}

@media (max-width:520px) {

    //HEADER
    header {
        .header-wrapper {
            h1 {
                font-size: 1.8rem;
                line-height: 50px;
            }

            .header-nav li {
                font-size: .7rem;
            }
        }
    }

    // GALLERY
    .index-gallery {
        flex-direction: column;

        li {
            margin: 10px 0;
            width: 100%;

            img {
                width: 100%;
            }
        }
    }

    // INDEX LINKS
    .index-links-flex {
        li {
            text-align: center;

            .index-links-text {
                margin-left: 5px;
            }
        }
    }

    //BLOG
    //HEADER
    .blog-h1 {
        margin-top: 220px;
    }

    // COMMENTS
    .blog-section {
        .comments-form {
            margin: 0 15px;

            .comments {
                padding-right: 15px;
            }
        }
    }

    // ASIDE 
    .expand-aside {
        padding: 0;

        ul {
            li {
                padding: 3px;
                text-align: center;
                line-height: 25px;

                &:first-of-type {
                    margin-right: 10px;
                }
            }
        }
    }

    // FOOTER
    footer {
        font-size: .8rem;
        padding: 10px;
    }
}