@use './variables';

@import url('https://fonts.googleapis.com/css2?family=Kumar+One&family=Kumar+One+Outline&family=Lato:wght@400;700&display=swap');


html {
    font-size: 125%;
}

body {
    font-family: variables.$body-font;
    font-size: .9rem;
    line-height: 25px;
    color: variables.$black;
    letter-spacing: 1.1px;
}

h1 {
    font-family: variables.$h1-font;
    font-size: 3.5rem;
    line-height: 64px;
    text-transform: uppercase;
}

h2,
h3,
.button,
.logo,
.expand-aside {
    font-family: variables.$h2-font;
    font-size: 1.2rem;
    line-height: 40px;
    letter-spacing: 2.1px;
    text-transform: uppercase;
}

.button,
h3,
.expand-aside {
    font-size: .8rem;
    letter-spacing: 1px;
}

.expand-aside {
    line-height: normal;
}

.button {
    color: variables.$white;
    background-color: variables.$button;
    border: 1px solid variables.$button;
    padding: 5px 10px 0 10px;
    display: inline-block;
    margin: 15px 0;
    cursor: pointer;
    transition: .3s ease-in-out;

    &:hover {
        background-color: variables.$button-hover;
        border-color: variables.$button-hover;
    }
}

.logo {
    font-size: 1.3rem;
    letter-spacing: 1.2px;
    line-height: 25px;
    font-weight: 400;
    transition: .3s ease;
}

nav a {
    text-transform: uppercase;
    font-weight: bold;
}