@use './variables';

@import url('https://fonts.googleapis.com/css2?family=Kumar+One&family=Kumar+One+Outline&family=Lato:wght@400;700&display=swap');


html {
    font-size: 125%;
}

body {
    font-family: variables.$bodyFont;
    font-size: .9rem;
    line-height: 25px;
    color: variables.$black;
    letter-spacing: 1.1px;
}

h1 {
    font-family: variables.$h1Font;
    font-size: 3.5rem;
    line-height: 64px;
    text-transform: uppercase;
}

h2,
h3,
.button,
.logo {
    font-family: variables.$h2Font;
    font-size: 1.2rem;
    line-height: 40px;
    letter-spacing: 2.1px;
    text-transform: uppercase;
}

.button,
h3 {
    font-size: .8rem;
    letter-spacing: 1px;
}

.button {
    color: variables.$white;
    background-color: variables.$button;
    border: 1px solid variables.$black;
    padding: 5px 10px 0 10px;
}

.logo {
    font-size: 1.3rem;
    letter-spacing: 1.2px;
    line-height: 25px;
    font-weight: 400;
}

nav a {
    text-transform: uppercase;
    font-weight: bold;
}