// COLOURS
//bright yellow: #f8fb05;
//evergreen: #065635;
//white: #f5f5f5;
//ice: #e0fddf;
//black: #151514;

//FONTS
//KumarOneOutline, Regular;
//KumarOne, Regular;
//Lato, Bold;
//Lato, Regular;

$h1Font: ""; //KumarOneOutline, Regular;
$h2Font: ""; //KumarOne, Regular;
$buttonFont: ""; //KumarOne, Regular;
$bodyFont: ""; //Lato, Regular;