// COLOURS
//bright yellow: #f8fb05;
//evergreen: #065635;
//white: #f5f5f5;
//ice: #e0fddf;
//black: #151514;

$highlight: #f8fb05;
$mint: #e0fddf;
$black: #151514;
$white: #f5f5f5;
$button: #063f28;
$button-hover: #077145;

//FONTS
//Kumar One Outline, Regular;
//Kumar One, Regular;
//Lato, Bold;
//Lato, Regular;

$h1-font: "Kumar One Outline"; //Kumar One Outline, Regular;
$h2-font: "Kumar One"; //Kumar One, Regular;
$body-font: "Lato"; //Lato, Regular;