@import url("https://fonts.googleapis.com/css2?family=Kumar+One&family=Kumar+One+Outline&family=Lato:wght@400;700&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body {
  font-family: "Lato";
  font-size: 0.9rem;
  line-height: 25px;
  color: #151514;
  letter-spacing: 1.1px;
}

h1 {
  font-family: "Kumar One Outline";
  font-size: 3.5rem;
  line-height: 64px;
  text-transform: uppercase;
}

h2,
h3,
.button,
.logo {
  font-family: "Kumar One";
  font-size: 1.2rem;
  line-height: 40px;
  letter-spacing: 2.1px;
  text-transform: uppercase;
}

.button,
h3 {
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.button {
  color: #f5f5f5;
  background-color: #065635;
  border: 1px solid #151514;
  padding: 5px 10px 0 10px;
  display: inline-block;
  margin: 15px 0;
}

.logo {
  font-size: 1.3rem;
  letter-spacing: 1.2px;
  line-height: 25px;
  font-weight: 400;
}

nav a {
  text-transform: uppercase;
  font-weight: bold;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  max-width: 1260px;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  all: unset;
}

section {
  padding: 60px 0;
}

.logo {
  margin-top: 20px;
}
.logo span {
  display: block;
}

.form {
  margin: 25px 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

textarea {
  width: 100%;
}

header {
  background-image: url("./../assets/header-home.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
header .headerWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .headerNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .headerNav li {
  padding: 20px 0px 0px 30px;
}
header .headerNav li a:hover {
  border-bottom: 2px solid #f8fb05;
  padding-bottom: 2px;
}
header .indexh1 {
  margin: 100px 0 0 0;
}
header .headerBoxImage {
  width: 55%;
  position: absolute;
  top: 265px;
}

.newMaterials {
  margin-top: 60px;
}

.newMaterialsFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.newMaterialsFlex .newMaterialsText {
  max-width: 70%;
  margin-right: 85px;
}
.newMaterialsFlex .newMaterialsImage {
  max-width: 30%;
}
.newMaterialsFlex .newMaterialsImage img {
  -webkit-box-shadow: -15px 15px #f8fb05;
          box-shadow: -15px 15px #f8fb05;
}

.gallery {
  background-color: #e0fddf;
}

.indexGallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.indexGallery li {
  margin: 0 10px;
  width: calc(33.3333333333% - 20px);
}

.indexLinksIcons {
  width: 170px;
  background-color: #f8fb05;
  border-radius: 50%;
  padding: 8px;
}

.indexLinksFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.indexLinksFlex li {
  width: 50%;
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.indexLinksFlex li .indexLinksText {
  margin-left: 20px;
}

.programsLocations {
  background-color: #e0fddf;
}

.contactHeader {
  background-image: url("./../assets/contact-image.jpg");
}

.contacth1,
.blogh1 {
  margin-top: 100px;
}

.contactFormSection {
  background-color: #e0fddf;
}

.contactIcons {
  width: 20px;
}

.blogHeader {
  background-image: url("./../assets/blog-image.jpg");
}

.blog {
  background-color: #e0fddf;
  position: relative;
}

.blogSection {
  width: 60%;
  position: relative;
  left: 0;
  top: -200px;
}

.blogPost {
  background-color: #f5f5f5;
  border-bottom: 5px solid #f8fb05;
  border-right: 5px solid #f8fb05;
  margin-top: 20px;
}
.blogPost .blogText {
  padding: 35px 20px 20px 50px;
}
.blogPost .blogText p:not(:last-child) {
  margin-bottom: 20px;
}
.blogPost .blogImage {
  max-width: calc(100% - 20px);
  -webkit-box-shadow: 20px 20px #f8fb05;
          box-shadow: 20px 20px #f8fb05;
}
.blogPost .blogImage img {
  width: 100%;
}

.comments {
  margin: 25px 130px;
}

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.comment .commentImage {
  width: 25%;
}
.comment .commentText {
  margin-left: 20px;
}
.comment .commentText p:first-of-type {
  text-transform: uppercase;
  font-weight: bold;
}

.comment1 {
  margin: 20px 0 60px 0;
}

.aside {
  background-color: #f8fb05;
  width: 300px;
  position: absolute;
  right: 0;
  top: 100px;
}
.aside .asideText {
  padding: 20px;
}
.aside .asideText h3:nth-of-type(2) {
  margin-top: 10px;
}
.aside .asideText ul {
  list-style: inside;
}
.aside .asideText ul p {
  display: inline;
}
.aside .asideImage {
  width: 95%;
  position: relative;
  top: -10px;
  right: -15px;
}

footer {
  color: #f5f5f5;
  background-color: #151514;
  padding: 5px;
  text-align: center;
}