@import url("https://fonts.googleapis.com/css2?family=Kumar+One&family=Kumar+One+Outline&family=Lato:wght@400;700&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.skip-link {
  position: absolute;
  left: -1000px;
  z-index: 10;
  background: white;
  color: black;
  font-size: 1rem;
  padding: 10px 0;
}

.skip-link:focus {
  left: 0;
  right: 0;
  text-align: center;
}

html {
  font-size: 125%;
}

body {
  font-family: "Lato";
  font-size: 0.9rem;
  line-height: 25px;
  color: #151514;
  letter-spacing: 1.1px;
}

h1 {
  font-family: "Kumar One Outline";
  font-size: 3.5rem;
  line-height: 64px;
  text-transform: uppercase;
}

h2,
h3,
.button,
.logo,
.expand-aside {
  font-family: "Kumar One";
  font-size: 1.2rem;
  line-height: 40px;
  letter-spacing: 2.1px;
  text-transform: uppercase;
}

.button,
h3,
.expand-aside {
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.expand-aside {
  line-height: normal;
}

.button {
  color: #f5f5f5;
  background-color: #065635;
  border: 1px solid #151514;
  padding: 5px 10px 0 10px;
  display: inline-block;
  margin: 15px 0;
  cursor: pointer;
}

.logo {
  font-size: 1.3rem;
  letter-spacing: 1.2px;
  line-height: 25px;
  font-weight: 400;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

nav a {
  text-transform: uppercase;
  font-weight: bold;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  max-width: 1260px;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  all: unset;
}

section {
  padding: 60px 0;
}

.logo {
  margin-top: 20px;
}
.logo span {
  display: block;
}

button {
  cursor: pointer;
}

header {
  background-image: url("./../assets/header-home.jpg");
  padding-bottom: 550px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
header .header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .header-nav li {
  padding: 20px 0px 0px 30px;
}
header .header-nav li a:hover,
header .header-nav li a:focus {
  border-bottom: 2px solid #f8fb05;
  padding-bottom: 2px;
}
header .index-h1 {
  margin: 100px 0 0 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
header .header-box-image {
  width: 55%;
  min-width: 650px;
  position: absolute;
  top: 45%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.new-materials {
  margin-top: 70px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.new-materials-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.new-materials-flex .new-materials-text {
  max-width: 70%;
  margin-right: 85px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.new-materials-flex .new-materials-image {
  max-width: 30%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.new-materials-flex .new-materials-image img {
  -webkit-box-shadow: -15px 15px #f8fb05;
          box-shadow: -15px 15px #f8fb05;
}

.gallery {
  background-color: #e0fddf;
}

.index-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.index-gallery li {
  margin: 0 10px;
  width: calc(33.3333333333% - 20px);
}

.index-links-icons {
  min-width: 45px;
  background-color: #f8fb05;
  border-radius: 50%;
  padding: 8px;
}

.phone {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.index-links-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.index-links-flex li {
  width: 50%;
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.index-links-flex li .index-links-text {
  margin-left: 20px;
}
.index-links-flex li .index-links-text h2 {
  display: inline;
}
.index-links-flex li .index-links-text a:hover,
.index-links-flex li .index-links-text a:focus {
  border-bottom: 2px solid #f8fb05;
  padding: 2px;
}

.locations-programs {
  background-color: #e0fddf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.locations-programs .locations-programs-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.locations-programs .locations-flex {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: right;
}
.locations-programs .programs-flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin-left: 100px;
}
.locations-programs .locations-image {
  position: relative;
  top: -95px;
  -webkit-box-shadow: 15px 15px #f8fb05;
          box-shadow: 15px 15px #f8fb05;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.locations-programs .programs-image {
  position: relative;
  bottom: -95px;
  -webkit-box-shadow: -15px 15px #f8fb05;
          box-shadow: -15px 15px #f8fb05;
  max-width: 672px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.locations-programs .locations-programs-text {
  width: 70%;
}

.search {
  padding: 0;
}

.search-image {
  width: 100%;
}
.search-image img {
  width: 100%;
}

.search-text {
  padding: 80px 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-header {
  background-image: url("./../assets/contact-image.jpg");
  height: 65vh;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.contact-h1,
.blog-h1 {
  margin-top: 100px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.contact-form-section {
  background-color: #e0fddf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.form-contact {
  margin: 10px 150px 0 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.contact-form {
  width: 55%;
  background-color: #f5f5f5;
  padding: 30px;
  -webkit-box-shadow: 15px 15px #f8fb05;
          box-shadow: 15px 15px #f8fb05;
  position: relative;
  left: 60px;
  top: -180px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.contact-icons {
  width: 20px;
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.social-icons li {
  margin: 0 10px 10px 10px;
  padding: 3px;
}
.social-icons li:first-of-type {
  margin-left: 0;
}
.social-icons li:hover, .social-icons li:focus {
  background-color: #f8fb05;
  border-radius: 50%;
}

.blog-header {
  background-image: url("./../assets/blog-image.jpg");
  height: 65vh;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.blog {
  background-color: #e0fddf;
  position: relative;
  padding-bottom: 0;
}

.blog-section {
  width: 60%;
  position: relative;
  left: 0;
  top: -200px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.blog-post {
  margin-top: 20px;
}
.blog-post .blog-text {
  padding: 35px 20px 20px 50px;
  background-color: #f5f5f5;
  border-bottom: 5px solid #f8fb05;
  border-right: 5px solid #f8fb05;
}
.blog-post .blog-text p:not(:last-child) {
  margin-bottom: 20px;
}
.blog-post .blog-image {
  max-width: calc(100% - 20px);
  -webkit-box-shadow: 20px 20px #f8fb05;
          box-shadow: 20px 20px #f8fb05;
  margin-bottom: 20px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.blog-post .blog-image img {
  width: 100%;
}

.comments-form {
  margin-left: 125px;
}

.comments {
  margin-top: 25px;
  margin-bottom: 25px;
}

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.comment .comment-image {
  width: 25%;
  min-width: 100px;
}
.comment .comment-text {
  margin-left: 20px;
}
.comment .comment-text p:first-of-type {
  text-transform: uppercase;
  font-weight: bold;
}

.comment-1 {
  margin: 20px 0 50px 0;
}

.aside {
  background-color: #f8fb05;
  width: 300px;
  position: absolute;
  right: 0;
  top: 100px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.aside .aside-text {
  padding: 20px;
}
.aside .aside-text h3:nth-of-type(2) {
  margin-top: 10px;
}
.aside .aside-text ul {
  list-style: inside;
}
.aside .aside-text ul p {
  display: inline;
}
.aside .aside-image {
  width: 95%;
  position: relative;
  top: -10px;
  right: -15px;
}

.expand-aside {
  width: 100%;
  background-color: #f8fb05;
  display: none;
}
.expand-aside ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px;
}
.expand-aside ul li button:hover,
.expand-aside ul li button:focus {
  border-bottom: 2px solid #151514;
}
.expand-aside ul li:first-of-type {
  margin-right: 30px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.form input[type=text],
.form input[type=email],
.form textarea {
  background-color: #e0fddf;
  border: none;
  border-bottom: solid 1.5px #065635;
  padding: 0 0 20px 30px;
  letter-spacing: 1.5px;
}
.form textarea {
  width: 100%;
  border: 1.5px solid #065635;
  resize: none;
  padding: 40px 0 20px 30px;
}
.form input::-webkit-input-placeholder, .form textarea::-webkit-input-placeholder {
  color: #151514;
  text-transform: uppercase;
  opacity: 1;
}
.form input::-moz-placeholder, .form textarea::-moz-placeholder {
  color: #151514;
  text-transform: uppercase;
  opacity: 1;
}
.form input:-ms-input-placeholder, .form textarea:-ms-input-placeholder {
  color: #151514;
  text-transform: uppercase;
  opacity: 1;
}
.form input::-ms-input-placeholder, .form textarea::-ms-input-placeholder {
  color: #151514;
  text-transform: uppercase;
  opacity: 1;
}
.form input::placeholder,
.form textarea::placeholder {
  color: #151514;
  text-transform: uppercase;
  opacity: 1;
}
.form .form-inputs {
  margin: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.form button {
  text-align: center;
}

.contact-form input[type=text],
.contact-form input[type=email],
.contact-form textarea {
  background-color: #f5f5f5;
}
.contact-form .form-inputs {
  margin-top: 20px;
}

footer {
  color: #f5f5f5;
  background-color: #151514;
  padding: 5px;
  text-align: center;
}

@media (max-width: 1050px) {
  .wrapper {
    width: 90%;
  }
  header h1 {
    font-size: 3rem;
  }
  header .header-nav li {
    padding: 20px 0px 0px 20px;
  }
  .new-materials {
    margin-top: 50px;
  }
  .locations-programs .locations-programs-text {
    width: 100%;
  }
  .blog-section .comments-form {
    margin-left: 50px;
  }
  .blog-section .comment .comment-image {
    min-width: 50px;
  }
  .form .form-inputs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form .form-inputs input[type=text] {
    margin-bottom: 20px;
  }
  .contact-form-section .contact-form {
    position: static;
    margin: 0 0 40px 20px;
  }
  .form-contact {
    margin: 50px 50px 0 0;
  }
}
@media (max-width: 880px) {
  header {
    height: 80vh;
  }
  header .header-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header-wrapper nav,
header .header-wrapper .logo {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  header .header-wrapper nav .header-nav li:first-of-type,
header .header-wrapper .logo .header-nav li:first-of-type {
    padding-left: 0;
  }
  header .header-wrapper h1 {
    margin: 50px 0 0 0;
  }
  header .header-box-image {
    display: none;
  }
  .new-materials {
    margin-top: 0;
  }
  .new-materials-flex .new-materials-text,
.new-materials-flex .new-materials-image {
    max-width: 50%;
  }
  .locations-programs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .locations-programs .locations-image,
.locations-programs .programs-image {
    position: static;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 0;
    margin-bottom: 40px;
  }
  .locations-programs .locations-programs-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin: 0;
  }
  .locations-programs .locations-programs-text {
    padding: 0 20px;
  }
  .locations-programs .locations-text {
    margin-bottom: 40px;
  }
  .search-text {
    padding: 50px;
    text-align: center;
  }
  .aside {
    width: 200px;
  }
  .aside .aside-text {
    padding: 10px;
  }
  .aside h3 {
    line-height: 38px;
  }
  .aside p {
    font-size: 0.7rem;
    line-height: 20px;
  }
  .blog-post .blog-text {
    padding: 25px 10px 10px 10px;
  }
  .contact-form-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact-form-section .contact-form {
    width: 90%;
    -webkit-box-shadow: none;
            box-shadow: none;
    margin: 0 auto;
  }
  .contact-form-section .contact-form .form {
    margin: 0 auto;
  }
  .contact-form-section .form-contact {
    margin: 30px auto;
  }
}
@media (max-width: 760px) {
  h2 {
    font-size: 1rem;
    line-height: 28px;
  }
  .new-materials .new-materials-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .new-materials .new-materials-flex .new-materials-text,
.new-materials .new-materials-flex .new-materials-image {
    max-width: 100%;
    text-align: center;
    margin: 0;
  }
  .new-materials .new-materials-flex .new-materials-text img,
.new-materials .new-materials-flex .new-materials-image img {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .new-materials .new-materials-flex .new-materials-image {
    margin-bottom: 40px;
  }
  .index-links-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .index-links-flex li {
    width: 100%;
  }
  .aside {
    display: none;
  }
  .expand-aside {
    display: block;
  }
  .blog {
    position: static;
    padding-top: 0;
  }
  .blog .blog-post {
    margin-top: 0;
  }
  .blog p {
    font-size: 0.8rem;
  }
  .blog .blog-section {
    width: 100%;
    position: static;
  }
  .blog .blog-section .blog-text {
    padding: 25px 5px 20px 5px;
    border: none;
  }
  .blog .blog-section .blog-image {
    -webkit-box-shadow: none;
            box-shadow: none;
    margin: 0;
    max-width: 100%;
  }
  .form {
    padding-bottom: 20px;
  }
}
@media (max-width: 520px) {
  .index-header {
    background-position: 60%;
  }
  header .header-wrapper h1 {
    font-size: 1.8rem;
    line-height: 50px;
  }
  header .header-wrapper .header-nav li {
    font-size: 0.7rem;
  }
  .index-gallery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .index-gallery li {
    margin: 10px 0;
    width: 100%;
  }
  .index-gallery li img {
    width: 100%;
  }
  .index-links-flex li {
    text-align: center;
  }
  .index-links-flex li .index-links-text {
    margin-left: 5px;
  }
  .blog-h1 {
    margin-top: 300px;
  }
  .blog-header {
    background-position: 45%;
  }
  .contact-header {
    background-position: 55%;
  }
  .contact-h1 {
    margin-top: 260px;
  }
  .blog-section .comments-form {
    margin: 0 15px;
  }
  .blog-section .comments-form .comments {
    padding-right: 15px;
  }
  .expand-aside {
    padding: 0;
  }
  .expand-aside ul li {
    padding: 3px;
    text-align: center;
    line-height: 25px;
  }
  .expand-aside ul li:first-of-type {
    margin-right: 10px;
  }
  footer {
    font-size: 0.8rem;
    padding: 10px;
  }
}
@media (min-width: 1520px) {
  .new-materials {
    margin-top: 150px;
  }
}